@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Lato:wght@400;700&family=Maven+Pro:wght@800;900&family=Noto+Sans+KR&family=Nunito+Sans:wght@300;800&display=swap');

*{
    margin:0;
    padding: 0;
}
img{
    height: 100%;
}
.hero-section{
    display: flex;
    flex-direction: column;
}

.home-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}

.hero-section .home-container .twitter-img{
    max-width: 53.7vw;
}

.join-twitter{
    padding:2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}
.join-twitter img{
    max-width: 3rem;
    height: auto;
}