*{
    margin:0;
    padding: 0;
}
.hero-section{
    display: flex;
    flex-direction: column;
}

.home-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.join-twitter{
    width: 50%;


}