@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Lato:wght@400;700&family=Maven+Pro:wght@800;900&family=Noto+Sans+KR&family=Nunito+Sans:wght@300;800&display=swap');

*{
    margin:0;
    padding: 0;
    font-family:'Nunito Sans',sans-serif ;
}
img{
    height: 100%;
}
.hero-section{
    display: flex;
    flex-direction: column;
}

.home-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}

.hero-section .home-container .twitter-img{
    max-width: 53.7vw;
}

.join-twitter{
    padding:2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

.join-twitter img{
    max-width: 3rem;
    height: auto;
    margin-bottom: 2rem;
}

.join-twitter h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.join-twitter h2{
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.join-twitter .sign-up{
    padding:.4rem .5rem;
    max-width: 15rem;
    color: white;
    background-color: #1d9bf0;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.join-twitter .sign-up:hover{
    color: white;
    background-color: #4ab7ff;
    cursor: pointer;
    transition: .2s;
}

.join-twitter p{
    margin-bottom: 1rem;
    font-weight: 400;
}

.join-twitter .sign-in{
    padding: .4rem .5rem;
    max-width: 15rem;
    color: #1d9bf0;
    background-color: white;
    border: rgb(173, 173, 173) solid .5px;
    border-radius: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.join-twitter .sign-in:hover {
    background-color: rgb(223, 255, 253);
    cursor: pointer;
    transition: .2rem;

}